[Unit]
Description=SmartKey GRPC service for Kubernetes KMS plugin
Documentation=https://support.smartkey.io
After=network-online.target firewalld.service containerd.service docker.service
Wants=network-online.target
#Requires=smartkey.socket

[Service]
Type=simple
ExecStart=/usr/bin/smartkey-kms -config /etc/smartkey/smartkey-grpc.conf -socketFile /etc/smartkey/smartkey.socket
TimeoutSec=0
RestartSec=2
Restart=always
